#main-header {
            background-color: #c6c276; 
            color: #726e21;
            display: flex;
            justify-content: space-between; 
            padding: 15px 30px;
            position: relative;
            border-bottom: 3px solid
            
        }

body{
    margin: 0;
}

.logo h2 {
            font-size: 5%;
        }

nav ul {
            list-style: none; 
            display: flex;
            gap: 20px; 
        }

nav ul li a {
            color: #726e21;
            text-decoration: none; 
            font-size: 16px;
            font-weight: bold;
            transition: color 0.3s;
        }



nav ul li  :hover{
            color: #76361e;
            text-decoration:underline;
            text-underline-offset:5px;
            text-decoration-style:wavy
        }



    